<section data-ng-controller="HomeController">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				hello: {{hello}}
			</div>

			<div class="col-md-12">
						<label class="control-label" for="title">Text</label>
						<div class="controls">
							<input name="title" type="text" data-ng-model="text" id="title" class="form-control" placeholder="Title">
						</div>
						<button ng-click="getKeywords(text)">Toggle</button>
			</div>

		</div>
</section>
