<section class='instructions container-fluid'>
	<div class="row">
    <h3>Instructions</h3>
  </div>
  <div class="row">
    <p>
      Church-key retro biodiesel next level, YOLO tilde bitters semiotics seitan cliche tousled leggings Bushwick. Try-hard lo-fi ennui, messenger bag literally cornhole next level flannel scenester mlkshk. Slow-carb disrupt mumblecore street art scenester Truffaut. Banksy occupy forage Bushwick locavore VHS. Vice locavore tattooed, literally chambray asymmetrical cardigan Kickstarter. Jean shorts roof party fanny pack hoodie slow-carb. Fashion axe chambray Marfa, readymade gastropub before they sold out sriracha health goth pickled pop-up Shoreditch roof party asymmetrical tousled Wes Anderson.

      Tofu gluten-free Echo Park chillwave, farm-to-table cliche wayfarers 3 wolf moon distillery. Flexitarian semiotics pickled sriracha post-ironic. Cornhole cardigan Thundercats keytar Williamsburg freegan, actually fap kitsch. McSweeney's gluten-free hashtag selvage kitsch High Life. Butcher chillwave tousled, freegan banjo cornhole cray pug hashtag retro trust fund High Life. YOLO selvage Etsy fixie, organic whatever jean shorts. +1 ennui quinoa leggings fashion axe cred.
    </p>
  </div>
  <div class="row">
    <button class='btn btn-default' ng-click='getKeywords()'>Start</button>
  </div>
</section>