<section data-ng-controller="ContextsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Context</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="context.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <button type="button" class="btn btn-default" ng-click="getKeywords(name)">get keywords</button>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>